/* styles.css */

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* Home Page */
#homePage {
  text-align: center;
  margin-top: 50px;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

/* Courses Page */
#coursesPage {
  display: none;
}

.course-item {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-item a {
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.course-item a:hover {
  color: #4caf50;
}

/* Book Page */
#bookPage {
  display: none;
  text-align: center;
  margin-top: 50px;
}

#bookTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#bookISBN,
#bookAuthor {
  color: #777;
  margin-bottom: 5px;
}
